<h3>About</h3>
<div class="row">
  

  <div class="six columns">
<div id="show_small">
  <img src="images/amy_pic.JPG" width ="100%">
  <br>
  <br>
</div>
{% capture about_file %}{% include about.md %}{% endcapture %}
{{ about_file | markdownify }}



 
  </div>
  <div class="six columns">

    <img src="images/amy_pic.JPG" width ="100%" id="hide_small">
  </div>
</div>
</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" language="JavaScript">
 function HideContent(d) {
   document.getElementById(d).class = "blind-content out";
 }
 function ShowContent(d) {
   document.getElementById(d).class = "blind-content in";
 }
 function ReverseDisplay(d) {
   if(document.getElementById(d).style.display == "none")
   { document.getElementById(d).style.display = "block"; }
   else { document.getElementById(d).style.display = "none"; }
 }
</script>
<!-- http://jsfiddle.net/oo48jbxd/3/ -->

</html>
