
<h3>About/Contact</h3>
<img src="images/amy_pic.JPG" width ="25%">

  
  <p>Amy Ching-Yan Lam is an artist and writer. She has presented performance, film, and exhibition projects internationally, both solo and as part of the art collective Life of a Craphead (with Jon McCurley). Exhibitions and performances have occurred at the Art Gallery of Ontario (Toronto), The Western Front (Vancouver), Centre Clark (Montreal), The High Line (NYC), Night Gallery (LA), and, upcoming, at the Seoul MediaCity Biennale (Fall 2021). Lam has participated in residencies at Macdowell and the Delfina Foundation. She was born in Hong Kong and lives in Toronto, Canada, which is the land of the Anishinaabe (Mississauga) nation, as well as the territory of the Wendat and Haudenosaunee.</p>
  
 <p>amyclam@gmail.com / twitter @amyclam / IG @amychingyan
</p>
</body>
</html>
