<html lang="en">
  <head>

    <!-- Basic Page Needs
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <title>AMY LAM</title>
    <meta name="description" content="Website about the work of Toronto-based artist and writer Amy Ching Yan Lam. Formerly a member of Life of A Craphead.">
    <meta name="author" content="">

    <!-- Mobile Specific Metas
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Literata:ital,wght@0,200;0,300;0,500;1,200;1,300;1,500&display=swap" rel="stylesheet">

    <!-- CSS
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">

    
    
    <!-- Favicon
	 –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" type="image/png" href="images/favicon-01.png">
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script> 
     $(document).ready(function(){
       $("#flip").click(function(){
	 $("#panel").slideToggle("slow");
       });
     });
    </script>
  </head>
  <body>
    
