{% include head.html %}
{% include header.html %}
<div style="margin-left: 120px; margin-right: 20px;">
<div class="row">
 
  <div class="twelve columns">
    <h3>News</h3>
    
    {% assign news_dates = site.news | map: "date" %}
    
    {% for item in news_dates %}
    {% if item >= site.time %}
    {% assign future = true %}
    {% else %}
    {% assign future = false %}
    {% endif %}
    {% endfor %}
    
    {% if future == true %}
    {% for item in site.news %}
    {% if item.date >= site.time %}   
    <p>
      <em>{{item.date | date: "%B %-d, %Y"}}</em> &mdash; {{item.content}}
    </p>
    {% endif %}
    {% endfor %}
    <a href="javascript:ReverseDisplay('content hidden')">Older News:</a>
    <div id="content hidden" style="display: none;">
    {% for item in site.news reversed %}
    {% if item.date <= site.time %}
    <p>
      <em>{{ item.date | date: "%B %-d, %Y" }}</em> &mdash; {{item.content}}
    </p>
    {% endif %}
    {% endfor %}
    </div>
    {% else %}
    {% for item in site.news reversed limit: 5 %}
    
    <p>
      <em>{{ item.date | date: "%B %-d, %Y" }}</em> &mdash; {{item.content}}
    </p>
    
    {% endfor %}
    
    {% endif %}
  </div>

   
    
    <h3>Projects</h3>
    {% for item in site.projects reversed %}
    <h4>
      {{ item.title }}
    </h4>
    <img src="{{ item.image }}" width ="100%">
   
      {{ item.content }}
    
    {% endfor %}

  </div>


{% include footer.html %}
