{% include head.html %}
{% include header.html %}
<div class="tube">
<div class="row">
 
  <div class="eight columns">
    <h3>News</h3>
    {% assign rev_dates = site.news | reverse %}
    {% for item in rev_dates  limit: 5 %}
    <p>
      <em>{{ item.date | date: "%B %-d, %Y" }}</em> &mdash; {{item.content | remove: '<p>' | remove: '</p>' }}
    </p>   
    {% endfor %}

    <p>
      <span id="flip"><a href="#"><em>Older News</em></a></span>
    </p>
    <div id="panel">
    {% for item in rev_dates offset: 5 %}
        <p>
	  <em>{{ item.date | date: "%B %-d, %Y" }}</em> &mdash; {{item.content | remove: '<p>' | remove: '</p>' }}
	</p>   
	{% endfor %}
    </div>
  </div>
  <div class="four columns"></div>
</div>
  
  <br>
   <br>
    
   <h3>Projects</h3>

   {% assign sorted = site.projects | sort: 'url' | reversed %}
    {% for item in sorted  %}
    <div class="row">
      <div class="eight columns">
    <h4>
      {{ item.title }}
    </h4>
      </div>
      <div id="show_small">
	<img src="{{ item.image }}" width ="100%">
	<br>
	<br>
	<div class="four columns"></div>
    </div>
    <div class="row">

      <div class="six columns">
	{{ item.content }}
      </div>
      <div class="six columns">
	<img src="{{ item.image }}" width ="100%" id="hide_small">
      </div>
    </div>
    {% endfor %}
    



{% include footer.html %}
